{% extends 'Index.html' %}
{% block content %}
    <div class="container">
        <div class="col-lg-4 mx-auto border rounded pt-4">
            <div class="p-4 m-4 " >
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="alert alert-primary" role="alert">
                        <strong>Login</strong>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{error}}</strong>
                    </div>
                    {% endif %}
                    
                    {% comment %} <div class="form-group">
                    <label for="">Username: </label>
                    <input type="text" name="name" id="" class=" form-control form-control-sm" placeholder="" aria-describedby="helpId">
                    </div> {% endcomment %}
                    <div class="form-group">
                        <label for="">Email: </label>
                        <input type="email" name="email" id="" class=" form-control form-control-sm" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Password: </label>
                        <input type="password" name="password" id="" class=" form-control form-control-sm" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary float-end">Login</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}