{% extends 'Index.html' %}

{% block content %}
{% load cart %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 mt-4  ">
            <div class="list-group">
                {% for items in category %}
                    <a href="?categ={{items.id}}" class="list-group-item list-group-item-action">{{items.name}}</a>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row mx-auto">
                {% for item in product %}
                    <div class="card mx-auto mb-3" style="width: 18rem;">
                        <img src="{{item.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                        <div>
                            <li class="list-group-item">Price: {{item.price}}</li>
                        </div>
                        <div>
                            {% if item.offer %}
                                Discounted Price: {{item.Discount_price}}
                            {% endif %}
                        </div>
                        
                        <li class="list-group-item">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="product" value="{{item.id}}" hidden>
                                {% comment %} <span class="bi bi-cart"> {% endcomment %}
                                <div class="row">
                                    <div class="col-6">
                                        {% if not item|is_in_cart:request.session.cart %}
                                        <input type="submit" class="btn btn-info btn-sm mb-2 mt-2" value="Add to cart"> </button>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="col-6 ">
                                        {% if item|item_quantity:request.session.cart %}
                                        <div class="mb-2 mt-2" >
                                            <input type="submit" class="btn btn-warning btn-sm" style="float:left" name="remove" value="-"> </button>
                                            <div class="text-center  " style="float:left">{{item|item_quantity:request.session.cart}}  </div>
                                            <input type="submit" class="btn btn-warning btn-sm mb-2" value="+" style="float:left"></button>
                                        </div>
                                        {% endif %}
                                        
                                        
                                    </div>
                                </div>
                                
                            </form>
                            
                        </li>
                            
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    
</div>
{% endblock content %}
    
    
